<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div>
            <h1>HEART DISEASE DETECTION</h1>
        </div>
        <nav>
            <p class="nav-item"><a href="/">Home</a></p>
            <p class="nav-item"><a href="#about-section">About</a></p>
            <p class="nav-item"><a href="https://github.com/piyushgupta246/ML-Projects/blob/main/Heart_Disease%20(Piyush%20kumar%20Gupta).ipynb">Sample Code</a></p>

        </nav>
    </header>
    <video autoplay muted loop id="background-video">
        <source src="static/animated_background.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div id="about-section" class="info">
        <h2>About Heart Disease</h2>
        <p>
            Heart disease refers to a range of conditions that affect the heart, including coronary artery disease, arrhythmias, and heart defects. 
            Common symptoms include chest pain, shortness of breath, and fatigue. Early detection is critical for effective treatment and prevention.
        </p>
        <p>
            This tool predicts the likelihood of heart disease based on key health metrics, enabling timely action to safeguard your heart health.
        </p>
    </div>
    
    
</body>
</html>
