<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div>
            <h1>HEART DISEASE DETECTION</h1>
        </div>
        <nav>
            <p class="nav-item"><a href="\">Home</a></p>
            <p class="nav-item"><a href="\about">About</a></p>
            <p class="nav-item"><a href="https://github.com/piyushgupta246/ML-Projects/blob/main/Heart_Disease/%23%20Heart_Disease%20(Piyush%20kumar%20Gupta).ipynb">Sample Code</a></p>

        </nav>
    </header>
    <video autoplay muted loop id="background-video">
        <source src="static/animated_background.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div id="about-section" class="info">
        <video autoplay muted loop id="About-video">
            <source src="static/heart1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
        <div class="about-sec1">
            <h2>About Heart Disease</h2>
        <p>The objective is to analyze and predict whether a person is at risk of heart disease or not based on health parameters using machine learning. The model applies Logistic Regression, a linear classifier suited for binary outcomes (e.g., "Infected" or "Not Infected").</p>
        </div>
        <hr>
        <div class="about-sec2">
            <div>
                <h2>Real Time Prediction:</h2>
                <p>User Input</p>
                <p>Backend Processing</p>
                <p>Instant Results</p>
                <p>Visual Effective</p>
                <p>Seamless Integration</p>
            </div>

            <div >
                <h2>Implementation of Model:</h2>
                <p>Data Collection and Preprocessing</p>
                <p>Feature Selection and Engineering</p>
                <p>Model Training </p>
                <p>Prediction 80% more</p>
                <p>Frontend Development</p>

            </div>
            
            <div >
                <h2>Technology Used:</h2>
                <p>HTML and CSS</p>
                <p>Machine Learing</p>
                <p>Flask and Python</p>
                <p>Responsive Design</p>
                <p>Regression Model</p>


            </div>
        </div>
    </div>
    
    
</body>
</html>
